{% extends 'base.html.twig' %}

{% block title  'Tech Shop - Création de compte' %}

{% block body %}
    <div class="container row mt-4">
        <div class="col-md-6">&nbsp</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                <h1>
                    {{ 'Création  de  compte' }}
                </h1>
                {{ include('auth/_form.register.html.twig', {form: form}) }}
            </div>
        </div>
    </div>
{% endblock %}


